@import "../variables.scss";

.main-block {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    padding-bottom: 140px;

    &__image {
        width: 48%;
        height: auto;
    }
}

@media (max-width: 1170px) {
    .main-block {
        flex-wrap: wrap;
        justify-content: center;

        &__image {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 600px) {
    .main-block {
        padding-bottom: 40px;
        width: 77.5%;
        margin: 0 auto;

        &__image {
            width: 100%;
        }
    }
}