@import "../variables.scss";

.error {
    background: $color-modal-window-background;
    box-shadow: 3px 4px 16px 4px rgba(155, 155, 155, .25);
    border-radius: 8px;
    width: 100%;
    max-width: 470px;
    @extend %modal-window-font;
    box-sizing: border-box;
    padding: 0 23px 23px;

    &__header {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px 0 4px;
    }

    &__close-icon {
        cursor: pointer;
        padding: 3px;
        border-radius: 3px;
        transition: background .3s;

        &:hover {
            background: $color-hover-button-background;
        }
    }

    &__message {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
    }

    &__icon {
        width: 25%;
        display: block;
        margin: 0 auto;
    }
}